.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
  font-family: Apercu;
    color: #007B3E;
}
.heading {
    all:unset;
    display: flex;
    font-size:0.55rem;
    gap:0.3rem;
    align-items: center;
}
.heading:hover {
  cursor:pointer;
}
.navbarButtons {
    display:flex;
    
}
.loginBtn, .signupBtn {
    all:unset;
    margin:0.5rem;
    border: 1px solid #007B3E;
    color: #007B3E;
    border-radius:12px;
    font-size:16px;
    padding:12px;
    display: flex;
    justify-content: center;
    transform: scale(1);
 
    
}
.logo {
  width:32px;
  height:32px;
}
.signupBtn:hover{
    animation: pulse 1s 1;
    cursor:pointer;
    background-color: #00562B;
    
}
.loginBtn:hover {
    animation: pulse 1s 1;
    cursor:pointer;
    background-color: #fff1a4;
;
}
.signupBtn{
    background-color: #007B3E;
    color: #fff;
}
@keyframes pulse {
    0% {
      transform:scale(1)
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }